<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoffeeshopNetworkAdvisor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>netlaband.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A2D94ED242014DF00E4012F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A2D9502242014E000E4012F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD6AF9E23B685D800D56BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD6AFB323B685D900D56BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD6AFBE23B685D900D56BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
